.arrow {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: absolute;
    width: 99.5%;
    left: 5px;
    top: 45%;
    transform: translate(0, -50%);

    &__left,
    &__right {
        background: rgba(39, 39, 39, 0.05);
        border-radius: 12px;
        width: 75px;
        height: 162px;
        border: none;
        position: absolute;
        cursor: pointer;
    }

    &__right {
        right: 0px;
    }
    &__left {
        left: 0px;
    }

    &__img-left {
        transform: rotate(180deg);
    }
}
