.filter-menu-btn {
    display: flex;
    gap: 9px;
    padding: 21px 18px 37px;
    background: #ffffff;
    border-radius: 12px;
    border: none;
    @media (max-width: 952px) {
        padding: 12px 30px 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #686870;
    }
    &__rect {
        display: flex;
        justify-content: center;
        width: 22px;
        height: 2px;
        background-color: #686870;
        border-radius: 12px;
        position: relative;
        top: 3px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 8px;
            width: 15px;
            height: 2px;
            background-color: #686870;
            border-radius: 12px;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 16px;
            width: 7px;
            height: 2px;
            background-color: #686870;
            border-radius: 12px;
        }
    }
    &__name {
        display: block;
        @media (min-width: 952px) {
            display: none;
        }
    }
}
