.rolls {
    &__wrapper {
        @media (max-width: 952px) {
            display: none;
        }
    }

    &__filters {
        @media (min-width: 952px) {
            display: none;
        }
    }
    &__category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    &__additives {
        display: flex;
        align-items: center;
        padding: 0 15px;
        gap: 15px;
        margin-top: 13px;
        margin-bottom: 24px;
    }
    &__additives--active {
        border: 1px solid #432332;
    }
    &__mobile-btn {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        @media (min-width: 952px) {
            display: none;
        }
        @media (max-width: 790px) {
            justify-content: center;
            padding: 0;
            // gap: 21px;
        }
    }
}
